@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background-color: black;
}
.response{
    color: green;
    font-family: 'Press Start 2P', cursive;
}
h1, p {
    text-align: center;
    color: green;
    font-family: 'Press Start 2P', cursive;
}
.question {
    row-gap: 10px;
}
.response:hover {
    border: 1px solid green;
}
button {
    color: green;
    border: 1px solid green;
    background-color: black;
    width: 200px;
    height: 100px;
    border-radius: 25%;
}
button:hover {
    background-color: green;
    color: black;
}
.buttonSendResponse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#question1, #question2, #question3, #question4, #question5 {
    visibility: hidden;
}

a {
    color: green;
    font-family: 'Press Start 2P', cursive;
}
.startButton {
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.backIndex:hover {
    color: black;
}


table, td {
    border: 1px solid green;
    color: green;
    font-family: 'Press Start 2P', cursive;
}

thead {
    font-style: normal;
    font-weight: bolder;
    font-size: x-large;
}


button a{
    font-style: inherit;
    font-weight: bolder;
}
button {
    font-family: 'Press Start 2P';
}
